.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.container {
  padding: 10px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 7px;
}

.search-btn {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;

}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 0 1.5 rem;
}
